@page "/"

<div class="container  text-white my-5" style="opacity:0.8;">
    <div class="jumbotron">

        <div class="row mb-5">
            <img src="/images/logo-home.png"  />
        </div>
        <h2 class="display-4">🎖️ Desafio</h2>
        <p class="lead">May the Fourth é a quarta edição dos Desafios .NET realizados pelo <a href="https://balta.io">balta.io</a>. Durante esta jornada, fizemos parte do batalhão Frontend onde unimos forças para entregar um App completo.</p>
        <hr class="my-4">
        <h3>📱 Projeto</h3>
        <p>Desenvolvimento de um App Web completo, fornecendo recursos como criação, leitura, atualização e exclusão de dados referentes ao universo Star Wars.</p>
        <h3>Participantes</h3>
        <h4>🚀 Capitão</h4>
        <p><a href="https://github.com/alequeshow">Alex Almeida (alequeshow)</a></p>
        <h4>💂‍♀️ Batalhão</h4>
        <ul>
            <li><a href="https://github.com/filipe-augusto">Filipe Augusto (filipe-augusto)</a></li>
            <li><a href="https://github.com/dhelp">Augusto Albuquerque (dhelp)</a></li>
            <li><a href="https://github.com/gustavogonc">Gustavo Gonçalves (gustavogonc)</a></li>
        </ul>
        <h3>⚙️ Tecnologias</h3>
        <ul>
            <li>C# 12</li>
            <li>.NET 8</li>
            <li>ASP.NET</li>
            <li>Razor</li>
            <li>Blazor WebAssembly</li>
            <li>HTML</li>
            <li>CSS</li>
        </ul>
        <h3>🥋 Skills Desenvolvidas</h3>
        <ul>
            <li>Comunicação</li>
            <li>Trabalho em Equipe</li>
            <li>Networking</li>
            <li>Muito conhecimento técnico</li>
        </ul>
        <h3>🧪 Como testar o projeto</h3>
        <p>Por enquanto, configurar o mockserver para simular as APIs de backend descrito <a href="mockserver/README.md">aqui</a>.</p>
        <h2>💜 Participe</h2>
        <p>Quer participar dos próximos desafios? Junte-se a <a href="https://balta.io/discord">maior comunidade .NET do Brasil 🇧🇷 💜</a></p>
    </div>
</div>

